
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans&family=Work+Sans:wght@200;300;400;500;600;800&display=swap');
.menu-heading{
color:  #131313;
font-size: 45px;
font-weight: 700;

}

li{
  list-style: none;

}
nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(255, 144, 14, 0.10)
}
.list-item{
display: flex;
gap: 20px;
color:  #424242;
font-size: 18px;
font-weight: 500;

}
.item{
  cursor: pointer;

}
.item:hover{
  color: brown;
}